* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#profile_container {
    width: 100%;
    height: 100vh;
    background: #4d8f8a;
    background: linear-gradient(275deg, rgba(77, 143, 81, 0.6) 0%, rgba(121, 87, 199, 0.5) 50%, rgba(237, 83, 221, 0.6) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

#profile_page {
    padding: 20px 20px;
    height: auto;
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px;
    font-family: ubantu, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#profile_circle {
    width: 155px;
    height: 155px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-top: 30px;
    box-shadow: 0px 0px 10px #ccc;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#profile_user_icon {
    font-size: 155px;
    position: absolute;
    top: 0;
    left: 0px;
    transform: translate(-10%);
    color: #ccccccd6;

}

#profile_upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    opacity: 0;

}

#profile_para {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: grey;

}

#profile_name {
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profile_btn_next {
    width: 100%;
    height: 33px;
    margin-top: 20px;
    text-transform: capitalize;
    font-family: sans-serif;
    color: white;
    border: none;
    background: #4d528f;
    background: linear-gradient(275deg, rgba(77, 82, 143, 1) 0%, rgba(199, 87, 100, 1) 50%, rgba(237, 221, 83, 1) 100%);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    display: none;
}

/* profile main home code */
body {
    background: #4d8f8a;
    background: linear-gradient(275deg, rgba(77, 143, 81, 0.6) 0%, rgba(121, 87, 199, 0.5) 50%, rgba(237, 83, 221, 0.6) 100%);

}

#profile_header {
    width: 100%;
    height: 140px;
    background-image: url("../image/header_profile.jpg");
    background-position: center;
    background-size: cover;
    
}

#profile_main_circle {
    width: 160px;
    height: 160px;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    background-color: purple;
}
#profile_username{
    text-align: center;
    margin-top: 90px;
}
#app{
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact,#player,#logout{
    width: 180px;
    height: 150px;
    border: 1px solid white;
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact:hover,#player:hover,#logout:hover{
    width: 200px;
    height: 170px;
    box-shadow: 0px 0px 15px #02f8e3;
    transition: 1s;
    cursor: pointer;
}
#contact i,#player i,#logout i{
    font-size: 40px;
    color: purple;
}
#contact p,#player p,#logout p{
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 7px;
}
#profile_footer{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile_footer p{
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    
}